@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.hidden {
    display: none!important
}

.main {
    margin: 0% 8%;
    position: relative;
}

.top {
    margin: 2% 0%;
    display: flex;
    justify-content: space-between;
}

/* Vertical Menu */
.vertical-menu {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    border: 2px solid #e5e7eb;
    border-radius: 200px;
    background: white;
    z-index: 50;
}

.vertical-menu .mid-header-component {
    padding: 16px 20px;
}

.vertical-menu .mid-header-component:first-child {
    border-bottom: 1px solid #e5e7eb;
}

/* Grid */
.word-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    row-gap: 32px;
    width: 90%;
    margin: 50px auto;
}

/* Card */
.word-card {
    background: white;
    border-radius: 22px;
    overflow: hidden; /* important */
}


/* Header */
.word-card-header {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 6px 10px;
    background: #f3f4f6; /* light grey header */
}

/* Word Button */
.word-btn {
    width: 100%;
    background-color: #D32F2F;
    border: 3px solid gold;
    border-top: none; /* connects to header */
    color: white;
    padding: 18px 10px;
    border-radius: 0 0 22px 22px;
}


.word-btn p {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Add Button */
.add-word-btn {
    background: rgba(0, 0, 0, 0.05);
    border: 3px dashed #9ca3af;
    color: #374151;
    font-size: 3rem;
    font-weight: 300;
}

/* Buttons */
.edit-btn, .delete-btn,.edit-dialogue-btn {
    border: none;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.edit-btn {
    background-color: gold;
}
.edit-dialogue-btn{
    background-color: gold;
}
.delete-btn {
    background-color: #e53935;
}

.edit-btn:hover,.delete-btn:hover {
    transform: scale(1.1);
}

.material-icons {
    font-size: 18px;
    color: white;
}

.relative div.absolute {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ccc; /* same as bubble bg */
    position: absolute;
    left: 0;
    top: 0.5rem; /* vertical alignment */
    transform: translateX(-0.5rem);
}

/* Tablet */
@media (max-width: 1024px) {
    .word-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .word-container {
        grid-template-columns: repeat(2, 1fr);
        width: 78%;
        column-gap: 8px;
        row-gap: 14px;
        margin: 60px auto;
    }

    .word-btn {
        font-size: 0.8rem;
    }

    .vertical-menu {
        left: 3px;
        transform: translateY(-50%) scale(0.67);
    }
}
